@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Press Start 2P", sans-serif;
  background-image: url("/background.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

body::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 15000;
  top: 0;
  background-size: 4px;
  pointer-events: none;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4) 1px,
    transparent 1px,
    transparent 2px
  );
  opacity: 0.4;
}

.content-card {
  border-left: 3px solid #c92ec7;
  border-right: 3px solid #c92ec7;
  width: 70%;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.content-card::before {
  content: " ";
  position: absolute;
  display: block;
  z-index: 100;
  background: #c92ec7;
  top: 0px;
  left: 0px;
}

.content-card::after {
  content: " ";
  position: absolute;
  display: block;
  z-index: 100;
  background: #c92ec7;
  top: 0px;
  right: 0px;
}

.greetings-title {
  position: relative;
  text-align: left;
  z-index: 1000;
}

.greetings {
  background: url("/hacker.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.greetings::before {
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

@layer utilities {
  .border-gradient {
    border-image: linear-gradient(to right, #0dd6fa, #c92ec7);
    border-image-slice: 1;
  }
  .static-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    );
    pointer-events: none;
  }
}

.about-content-card {
  border-left: 3px solid #d714fe;
  border-right: 3px solid #d714fe;
  width: 70%;
  position: absolute;
  left: 15%;
  top: 55%;
  transform: translateY(-50%);
}


.about-content-card::before {
  content: " ";
  position: absolute;
  display: block;
  z-index: 100;
  background: #d714fe;
  top: 0px;
  left: 0px;
}

.about-content-card::after {
  content: " ";
  position: absolute;
  display: block;
  z-index: 100;
  background: #d714fe;
  top: 0px;
  right: 0px;
}

.about-section {
  background: url("/cyberpunk.jpg");
  /* background-color: black; */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  overflow: auto;
  /* max-height: 75%; */
}

.about-section::before {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}

.work-content-card {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/star-wars.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-left: 3px solid #d714fe;
  border-right: 3px solid #d714fe;
  width: 70%;
  /* text-align: center; */
  position: absolute;
  margin: 0 auto;
  /* margin-top: 55%; */
  top: 55%;
  transform: translateY(-50%);
  /* -webkit-box-shadow: inset 200px 21px 194px 20px #12a6c03b;
  -moz-box-shadow: inset 200px 21px 194px 20px #c012b73b;
  box-shadow: inset 200px 21px 194px 20px #12c0953b; */
}

.work-content-card::after {
  content: " ";
  position: absolute;
  display: block;
  z-index: 100;
  background: #d714fe;
  top: 0px;
  right: 0px;
}

.skills-content-card {
  border-left: 3px solid #d714fe;
  border-right: 3px solid #d714fe;
  width: 70%;
  position: absolute;
  left: 15%;
  top: 55%;
  transform: translateY(-50%);
}

.skills-content-card::before {
  content: " ";
  position: absolute;
  display: block;
  z-index: 100;
  background: #d714fe;
  top: 0px;
  left: 0px;
}

.skills-content-card::after {
  content: " ";
  position: absolute;
  display: block;
  z-index: 100;
  background: #d714fe;
  top: 0px;
  right: 0px;
}

.skills-section {
  background: url("/background-2.jpg");
  /* background-color: black; */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  overflow: auto;
  /* max-height: 75%; */
}

.skills-section::before {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Mueve la flecha hacia arriba */
  }
  100% {
    transform: translateY(0);
  }
}

.slider-arrow {
  animation: slide 2s infinite;
}



@media screen and (max-width: 768px) {
  .content-card {
    width: 90%; /* Cambiar a un valor más grande para adaptarse mejor a pantallas más pequeñas */
    top: 20%; /* Ajustar la posición vertical */
    padding: 10px; 
  }

  .about-content-card {
    width: 90%; 
    padding: 10px; 
    left: 5%;
  }

  .work-content-card {
    width: 90%;
    padding: 10px;
    height: 85%;
  }
}
